html{
    height: 100%;
}

body {
    font-family: 'Barlow Semi Condensed', 'Arial Narrow', Arial, sans-serif;
    background: url("../img/fond5.jpg")#13e680 no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding: 36px;
    text-shadow: 2px 2px 1px black;
    
}

/* Page */
.hero-page {
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    text-align: left;
    background:rgba(7, 104, 45, 80%) ;
    border-radius: 50px;
    color: #1dccb5;
    margin: auto;
}

/* Image */
.hero-image {
    line-height: 0;
    background: #b8d7d7;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    display: flex;
    align-items: center;
}
.hero-image img {
    max-width: 100%;
    height: auto;
    border-top-left-radius: 50px ;
    border-bottom-left-radius: 50px;
    
}

/* Contenu */
.hero-contenu {
    padding: 36px;
    max-width: 480px;
    box-sizing: border-box;

}
h1 {
    color: #1dccb5;
    font-size: 50px;
    margin-top:0px;
    text-align: center;
    font-family: Hobo StD;
    

}

h2 {
    color: #1dccb5;
    font-size: 50px;
    margin-top:0px;
    text-align: center;
    font-family: Hobo StD;
}

p{
    color:#1dccb5;
    font-size: 20px;
    margin-top:0px;
    font-family: Hobo StD;
    
}